:root {
    --resp-flex-direction: row;
}


/* Reset our styles, like normalize.css */
* {
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.section {
    background-color: lightcoral;
    height: 800px;
    padding: 50px;
}

/* -- means nothing in CSS, it's just how we are writing our class names */
.section--blue {
    background-color: lightskyblue;
}

.section--no-height {
    height: fit-content;
}

.section__title {
    font-size: 3rem;
    text-align: center;
}

.card-container {
    /* Put the children in the vertical middle of this container */
    /* align-items: center; */

    /* Turn it into a flex-container */
    display: flex;

    /* Spread them out horizontally */
    justify-content: space-between;

    height: 100%;
}

/*
    height of children of a flex container will expand to fill height
    UNLESS a height is specified for the child
*/
.card {
    background-color: white;
    border: 1px solid gray;
    padding: 25px;
    min-width: 200px;
}

.btn {
    background-color: black;
    border-radius: 11px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    padding: 15px 25px;
    transition: all .15s ease-in;
}

.btn:hover {
    background-color: #303030;
    transition: all .15s ease-in;
}

/* Since this element has two class names, these button styles will override the other rules from the first button class */
.btn--secondary {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.btn--secondary:hover {
    color: white;
    background-color: black;
}

.section--orange {
    background-color: lightsalmon;
    height: fit-content;
}

.panel {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    /* flex-direction: row */
}

.panel__item {
    background-color: white;
    border-radius: 11px;
    border: 2px solid black;
    padding: 50px;
    margin: 25px;
}

.panel__item-img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}

.img__big {
    /* Change the way our image is displayed... thats not very specific */
    object-fit: cover;

    /* Determine the basis of our cropping */
    object-position: center;

    min-height: 800px;
    width: 100%;
}

.panel__item--last {
    align-self: flex-end;
    order: 99;
}

.items {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items__item {
    background-color: linen;
    padding: 50px;
    border-radius: 11px;
}

@media screen and (max-width: 800px) {
    :root {
        --resp-flex-direction: column;
    }

    /* Change to a column layout below 800px for this flex container */
    .panel {
        flex-direction: column;
    }

    .panel__text {
        text-align: center;
    }
}

