* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-size: 100%;
    color: blue;
    /* transition: color 2s ease-in-out 1s,
                font-size 2s ease-in-out 1s; */

    /* you can use linear, ease-in, ease-in-out, or a custom cubic-bezier timing function */
    /* https://easings.net */
    transition: all .5s cubic-bezier(0.33, 1, 0.68, 1);
}

a:hover {
    font-size: 120%;
    color: red;
}

.img {
    transition: all 2s ease-in;
    width: 200px;
}

.img--2:hover {
    transform: rotate(180deg) scale(2) translateX(-100px);
}



/* Lets define our animation */
/* the name should ususally describe what happens */
@keyframes whateverAnimationNameYoudLike {

    /* First frame in the animation */
    from {
        transform: translateX(0);
    }

    /* Last frame in the animation */
    to {
        transform: translateX(100vw);
    }
}

.ball {
    /* animation: animationName howLong speedFunction delay howManyTimes direction */
    animation: whateverAnimationNameYoudLike 2s ease-in 1s infinite alternate;
    background-color: orange;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    transition: all .5s ease-in-out;
}

.ball:hover {
    background-color: red;
}

.ball2 {
    /* forwards is a key word when not using infinite
        that's going to allow us to maintain its ending spot
     */
    animation: pizazzz 3s ease-in forwards;
    background-color: red;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}


@keyframes pizazzz {
    0% {
        /* colors */
        background-color: blue;
        
        /* size */
        /* rotateZ */
        transform:
            scale(1)
            rotateZ(0deg)
            /* bounce */
            translateY(100px)
            translateX(0);
    }

    33% {
        background-color: burlywood;
        transform:
            scale(1.3)
            /* bounce */
            translateY(00px)
            translateX(100px);
    }

    51% {
        transform:
            /* bounce */
            translateY(30px)
            translateX(70px);
    }

    100% {
        background-color: darkcyan;
        transform:
            scale(1.7)
            /* bounce */
            translateY(-50px)
            translateX(200px);
    }
}

.filter-img {
    filter: blur(5px) grayscale(1);
    transition: all .25s ease-in;
}

.filter-img:hover {
    filter: blur(0px) grayscale(0) contrast(200%);
}