* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    padding: 50px;
}

.section1 {
    background-color: lightskyblue;
}

.section2 {
    background-color: lightsalmon;
    min-height: 400px;
}

.section1__img {
    object-fit: cover;
    object-position: center;
    min-height: 800px;
    max-width: 100%;
}

.section2__img {
    object-fit: cover;
    object-position: center;
    min-height: 800px;
    max-width: 100%;
}

.mobile-nav__menu-icon {
    background-color: transparent;
    margin-left: auto;
    max-width: 150px;
    stroke: blue;
    stroke-width: 1.5;
    position: fixed;
    width: 15%;
    z-index: 500;
}

.mobile-nav__button {
    display: flex;
}

.mobile-nav__list {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mobile-nav__list-item {
    list-style-type: none;
}

.mobile-nav__list-link {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    padding: 20px 0;
}

.mobile-nav__list {
    transform: translate(100vw);
}

.mobile-nav__list--open {
    animation: slideOpen .15s ease-in forwards;
}

.mobile-nav__list--close {
    animation: slideClosed .15s ease-in forwards;
}

@keyframes slideOpen {
    from {
        transform: translate(100vw);
    }
    to {
        transform: translate(0);
    }
}

@keyframes slideClosed {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(100vw);
    }
}

.mobile-nav__menu-icon--open {
    display: none;
}

.nav {
    display: none;
}

/* Once we grow beyond 700px, do this... */
@media screen and (min-width: 700px) {

    /* Make our big nav visible */
    .nav {
        display: block;
    }

    /* Hide our mobile nav */
    .mobile-nav {
        display: none;
    }
}